.search-container {
  width: 70%;
  display: flex;
  justify-content: s;
  align-items: center;
  height: 6vh;
  border-radius: 6px;
}
.search-icon {
  font-size: 1.5rem;
  align-self: flex-end;
  height: 20px;
  width: 20px;
  color: #6b7280;
  transform: translateY(-50%);
}
.search-input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border: 2px solid rgb(235, 229, 229);
  border-radius: 10px;
  font-size: 1rem;
}

.search-input:focus{
border: 2px solid rgb(148, 173, 228);
outline: none;
}