.app-header {
  height: 10vh;
  width: 98%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.header-logo {
 width: 20%;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: auto;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-nav {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  padding: 0.5rem;
}

.nav-link.active {
  color: #1976d2;
  font-weight: 600;
  border-bottom: 2px solid #1976d2;
}


.user-avatar {
  height: 40px;
  width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #d1d5db;
  border-radius: 50%;
}

.user-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
