 #root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  overflow-y: hidden;
} 

.card-section-class{
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
 
}