.book-card {
  padding: 0.8rem;
  border: 1px solid #3e68a7;
  border-radius: 10px;
  width: 15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: space-between;
  background-color: rgba(250, 235, 215, 0.589);
}
.book-card:nth-child(6n + 1) {
  background-color: #ffebee; 
}
.book-card:nth-child(6n + 2) {
  background-color: #E3F2FD; 
}
.book-card:nth-child(6n + 3) {
  background-color: #F1F8E9; 
}
.book-card:nth-child(6n + 4) {
  background-color: #FFF3E0; 
}
.book-card:nth-child(6n + 5) {
  background-color: #f3e5f5; 
}
.book-card:nth-child(6n + 6) {
  background-color: #fadcbb; 
}
.button-div-class{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
}

.book-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.book-authors {
  font-size: 0.85rem;
  color: #6b7280;
}

.details-button {
  margin-top: auto;
  height: 36px;
  width: 8.4rem;
  border: 1px solid #2563eb;
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  line-height: 0.8rem;
 
}
.auhorslist-class{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.details-button {
  background-color: white;
  
  padding: 0;
  color: #1976d2;
  cursor: pointer;
  font-size: 0.9rem;
}
.details-button:hover {
  text-decoration: underline;
}

