* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
}

.buttons {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 12px;
}

.btn {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Number buttons */
.number {
  background: #4caf50;
  color: white;
}

/* Operator buttons */
.operator {
  background: #ff9800;
  color: white;
}

/* Equal button */
.equal {
  background: #2196f3;
  color: white;
}

/* Clear button */
.clear {
  background: #f44336;
  color: white;
}

.btn:hover{
  opacity: 0.8;
  
}
